:root {
    --first: #b97fc2;      /* QR border purple */
    --stripone: #6fcfb1;   /* left bar mint green */
    --striptwo: #8ac3e3;   /* middle bar light blue */
    --stripthree: #6fcfb1; /* right bar mint green */
}