:root {
    --first: #f8bfc7;      /* QR border pink */
    --stripone: #a37c75;   /* left bar brown */
    --striptwo: #7eaed6;   /* middle bar blue */
    --stripthree: #a0e6da; /* right bar teal */
}