:root {
    --first: #5bb85b;      /* QR border green */
    --stripone: #a6c3ff;   /* left bar light blue */
    --striptwo: #a23adf;   /* middle bar purple */
    --stripthree: #a38ea3; /* right bar light purple/gray */
}