:root {
    --first: #3686f7;      /* QR border blue from screenshot */
    --stripone: #a6ff3c;   /* left bar bright green from screenshot */
    --striptwo: #eed3cd;   /* middle bar light pink from screenshot */
    --stripthree: #b5cdfa; /* right bar light blue from screenshot */
}