:root {
    --first: #B97DBB;      /* QR border light purple from screenshot */
    --stripone: #36806A;   /* left bar green from screenshot */
    --striptwo: #A94DC0;   /* middle bar purple from screenshot */
    --stripthree: #3E3576; /* right bar dark blue from screenshot */
}