:root {
    --first: #8f8e8e;      /* QR border gray */
    --stripone: #c49a6c;   /* left bar tan */
    --striptwo: #388e3c;   /* middle bar green */
    --stripthree: #304ffe; /* right bar blue */
}