:root {
    --first: #3C9B3B;      /* QR border gold */
    --stripone: #8FE5C8;   /* left bar green */
    --striptwo: #C270FF;   /* middle bar purple */
    --stripthree: #BCA76E; /* right bar green */
}
