:root {
    --first: #f8c7ce;      /* QR border pink */
    --stripone: #3ec6fa;   /* left bar blue */
    --striptwo: #d9d7b2;   /* middle bar beige */
    --stripthree: #7eb37b; /* right bar green (unchanged) */
}