:root {
    --first: #6bb04a;      /* QR border green */
    --stripone: #eceba9;   /* left bar pale yellow */
    --striptwo: #5a35a3;   /* middle bar purple */
    --stripthree: #e6be63; /* right bar gold */
}