:root {
    --first: #979797;      /* QR border gray */
    --stripone: #e09a61;   /* left bar orange */
    --striptwo: #7ed6b1;   /* middle bar mint green */
    --stripthree: #2be6a0; /* right bar bright green */
}