:root {
    --first: #979797;      /* QR border gray */
    --stripone: #8b5c5c;   /* left bar brownish */
    --striptwo: #59527c;   /* middle bar muted purple */
    --stripthree: #7eb37b; /* right bar green */
}