:root {
    --first: #ee6262;      /* QR border red-pink */
    --stripone: #3366b3;   /* left bar blue */
    --striptwo: #6fc1a2;   /* middle bar green */
    --stripthree: #7c3fdc; /* right bar purple */
}