:root {
    --first: #b97fc2;      /* QR border purple */
    --stripone: #ff6f91;   /* left bar pink */
    --striptwo: #6c7bbd;   /* middle bar blue */
    --stripthree: #6c7bbd; /* right bar blue */
}