:root {
    --first: #f6bfc7;      /* QR border pink */
    --stripone: #5a2dff;   /* left bar purple */
    --striptwo: #3366b3;   /* middle bar blue */
    --stripthree: #b98c6a; /* right bar brown */
}