:root {
    --first: #f8bfc7;      /* QR border pink */
    --stripone: #b8255f;   /* left bar magenta */
    --striptwo: #425a99;   /* middle bar blue */
    --stripthree: #c6ff7f; /* right bar light green */
}