:root {
    --first: #b88fc7; /* QR border purple */
    --stripone: #6e7fdc; /* left bar blue */
    --striptwo: #3b4440; /* middle bar dark gray */
    --stripthree: #43436a; /* right bar dark blue */
}