:root {
    --first: #7eb37b;      /* QR border green */
    --stripone: #d9d78b;   /* left bar yellowish beige */
    --striptwo: #4a7ea8;   /* middle bar blue */
    --stripthree: #6c6cf4; /* right bar purple */
}