html {
    overflow: hidden; /* Prevents scrolling for the entire document */
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 100;
    src: url("SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'SF Pro Display Medium';
    font-style: normal;
    font-weight: 100;
    src: url("SF-Pro-Display-Medium.otf") format("opentype");
}

body {
    font-family: 'SF Pro Display', sans-serif;
    padding-top: constant(safe-area-inset-top); /* iOS 11.2+ */
    padding-top: env(safe-area-inset-top);
    background-color: #ffffff; /* Set background color to white */
    color: #000000; /* Set text color to black */
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white; /* or any color you like */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top */
    opacity: 1;
    transition: opacity 0.5s ease-out; /* Smooth fade-out transition */
}

#splash-screen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0px;
}

.square {
    width: 39%;
    aspect-ratio: 1;
    margin-left: 30px;
    background: white !important;
    border-radius: 1.25vh;
    border: 2px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.square-text {
    text-align: left;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.one-way-text {
    font-size: 38px;
    font-weight: 500;
    margin-left: 18px;
    margin-top: 10px;
    display: block;
}

.adult-count-text {
    font-size: 60px;
    font-weight: bold;
    margin-left: 18px;
    margin-top: 10px;
    display: block;
}

.enlarged {
    width: 100%;
    height: 100%;
    margin-top: 30vh;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enlarged img {
    max-width: 56%;
    max-height: 56%;
}

.qr-square {
    width: 37%;
    aspect-ratio: 1;
    margin-right: 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.qr-code {
    max-width: 100%;
    max-height: 100%;
}

.tap-to-enlarge {
    font-size: 32px;
    font-weight: lighter;
    margin-top: 15px;
    margin-bottom: 40px;
    font-family: "SF Pro Display Medium";
}

.rectangle {
    height: 20%;
    display: grid;
    margin-left: 30px;
    margin-right: 30px;
    background: linear-gradient(0deg, var(--first) 0%, white 40%, white 60%, var(--first) 100%);
    border-radius: 1.25vh;
    text-align: center;
    font-weight: 500;
    justify-items: center;
}

.rectangle-text1 {
    font-size: 250px;
    margin-bottom: -40px;
    margin-top: -25px;
    width: 200px;
}

.rectangle-text2 {
    font-size: 78px;
}

.bottom-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.bottom-image {
    width: 100%;
}

.expires-text {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 18px;
}

.color-strip {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 30px;
    margin-right: 30px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% {
    opacity: 0;
}
49% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 1;
}
}

.color-block {
    width: 34%;
    height: 50px;
}

.red {
    background: var(--stripone);
}

.green {
    background: var(--striptwo);
}

.blue {
    background: var(--stripthree);
}

.datetime {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
}

.bip {
    margin-top: -10px;
    margin-bottom: 8px;
    font-weight: bold;      /* changed from 100 to bold */
    color: black;           /* changed from red to black */
    font-size: 65px;
    width: 100%;
    text-align: center;
}

a.back-font {
    font-size: 35px;
    margin-left: -363px;
    font-family: 'SF Pro Display Medium';
}

.ticket-type {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

.qr-container {
    border-radius: 30px;
    border: 23px solid #F44;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.qr-image {
    width: 370px;
    height: 370px;
}

.ticket-zone {
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    margin-top: 32px;
    color: #F44;
}

.zone-number {
    text-align: center;
    font-size: 110px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.zone-ride {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-top: 0px;
}

.zone-adult {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 38px;
}

.back-btn {
    background: #003E65;
    color: white;
    font-size: 32px;
    border: none;
    border-radius: 12px;
    padding: 18px 38px;
    font-family: 'SF Pro Display Medium', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
